* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  margin: 1vh 0;
}

.wrapper {
  max-width: 90vw;
  margin: 2vh auto;
}

.bayan__title {
  margin-bottom: 3vh;
  font-size: 24px;
  font-weight: 700;
}

.bayan__item {
  position: relative;
}

.bayan__input {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 5vh;
  opacity: 0;
}

.bayan__togle {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
}

.bayan__btn {
  display: flex;
  min-height: 5vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.01vh;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}

.bayan__btn p {
  width: 80%;
}

.bayan__btn div {
  width: 5vw;
  height: 5vh;
  opacity: 1;
  background-image: url(./img/plus.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.bayan__input:checked ~ .bayan__togle {
  max-height: 80vh;
  transition: 1s;
}

.bayan__input:checked ~ .bayan__btn {
  color: #000000;
}

.bayan__input:checked ~ .bayan__btn div {
  transform: rotate(45deg);
}

.bayan__togle__inner {
  padding: 1vw;
}

.bayan__img {
  display: block;
  width: 80%;
  margin: 0 auto;
}


@media (min-width: 720px) {
  .bayan__title {
    font-size: 36px;
  }
  .wrapper {
    max-width: 80vw;
    margin: 2vh auto;
  }
  .bayan__img {
    width: 60%;
  }
  .bayan__btn {
    font-size: 20px;
  }
  .bayan__btn div {
    width: 3vw;
    height: 4vh;
    opacity: 1;
  }
}

@media (min-width: 825px) {
  .bayan__btn {
    color: #007575;
  }

  .bayan__btn div {
    opacity: 0;
  }

  .bayan__body:hover .bayan__btn {
    color: #000000;
  }

  .bayan__body:hover .bayan__btn div {
    opacity: 1;
  }

  .bayan__input:hover ~ .bayan__togle {
    max-height: 80vh;
    transition: 3s;
  }

  .bayan__item:hover > .bayan__togle {
    max-height: 80vh;
    transition: 3s;
  }

  .bayan__item:hover > .bayan__btn div {
    transform: rotate(45deg);
    transition: 1s;
  }
}

@media (min-width: 1280px) {
  .bayan__title {
    font-size: 40px;
  }
  .wrapper {
    max-width: 50vw;
    margin: 3vh auto;
  }
  .bayan__img {
    width: 50%;
  }
  .bayan__btn {
    font-size: 24px;
  }
  .bayan__btn div {
    width: 2vw;
    height: 3vh;
    opacity: 0;
  }
  .bayan__btn p {
    width: 90%;
  }
}
